@page "/"
@using Isitar.RoomPlanner.Logic.Models
@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div>
        <p class="title">Room planner</p>
            <p class="subtitle">
                <button class="button is-success " @onclick="NewPlan">New Plan</button>
                <button class="button is-success">Load Plan</button>
            </p>
        </div>
    </div>
   
</div>

<div class="has-text-centered">
</div>

@code
{
    public async Task NewPlan()
    {
        AppState.Plan = new Plan("New Plan");
        NavigationManager.NavigateTo("/planner");
    }
    
}
