.main {
  height: 100%;
  display: grid;
  grid-template:  "C S" auto
                  / 0.75fr 0.25fr;

  > h2 {
    grid-area: H;
  }

  > .canvas {
    width: 100%;
    height: 75vh;
    background: repeating-linear-gradient(45deg, aliceblue, transparent, aliceblue 1%),
    repeating-linear-gradient(-45deg, aliceblue, transparent, aliceblue 1%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: C;
    position: relative;

    &.is-measuring {
      cursor: crosshair;
    }

    > polygon {
      position: absolute;

      &.placed-furniture {
        cursor: move;
      }
    }
    
  }

  > .toolbox {
    grid-area: S;
  }
}